* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #33333300;
    padding: 20px 0;
}

header h1 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    
    text-align: center;
}

header nav {
    text-align: center;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    color: #004c79;
}

.hero {
    background-image: url('https://cdn11.bigcommerce.com/s-btjueqb8x7/images/stencil/1280x1280/products/1479/19458/parador_1744710_front_znx1tm82yy__42896.1707740897.jpg?c=2');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    max-width: 600px;
}

.services {
    background-color: #eaeaea;
    padding: 50px 0;
    text-align: center;
}

.services h3 {
    font-size: 36px;
    margin-bottom: 40px;
}

.service-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

footer p {
    font-size: 14px;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: italic;
    font-size: 80px;
}